#title{
	font-size: 26px;
	line-height: 75px;
}

body{
	background-color: aquamarine;
}

.menu-object{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-auto-rows: minmax(4rem, auto);
	gap: 20px;
}

p{
	text-align: center;
}

button.menu-object:active{

	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}

